{% extends "core/base.html" %}
{% load bootstrap_tags i18n static %}

{% block css %}
    {{ block.super }}
    <link href="{% static "visual_translations/css/visual-translations.css" %}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% for language, words in response.results %}
                <div class="LanguageColumn">
                    <div><h2>{{ language }}</h2></div>
                    {% for word in words %}
                        <div>
                            <h3 class="WordText">{{ word.word }}</h3>
                            {% for image in word.images %}
                                <p><a class="WordImageLink" href="{{ image.url }}"><img class="WordImage" src="{{ image.thumbnail }}"/></a></p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block footer %}
    <p>{% trans "Search for a single word and see the canonical images for that word in Chinese, Russian and Portuguese." %}</p>
    {% include "core/components/search.html" %}
{% endblock %}
